<div class="art p-5 ">

    <div class="box d-flex justify-content-center align-items-center w-50 m-auto bg-white border border-1 rounded">
        <div class="login px-lg-5 px-3 py-lg-5 py-4 ">
            <h5 class="fs-3 text-center">Lấy lại mật khẩu</h5>
            <form name="addForm">
                <label class="mb-1">Email</label> <br>
                <input class="form-control" name="email" type="text" placeholder="Nhập email"
                    ng-model="email"><br>

                <div class="d-flex justify-content-center align-items-center">
                    <input class="btn btn-warning" name="submit" type="submit" ng-click="forget()" value="Gửi mail">
                </div>
            </form>
        </div>
    </div>
</div>