<div class="text-center">
    <h3 class="text-center pt-3">Nhiệm vụ của chúng tôi</h3>
    <h1>Tạo động lực cho mọi học sinh </h1>
    <p>Quizizz không chỉ là những câu đố được đánh bạc. Chúng tôi đánh giá, hướng dẫn và thực hành để thúc đẩy mọi
        học sinh thành thạo. </p>
    <p>Ngày nay, chúng tôi được sử dụng bởi các giáo viên tại 86% trường học ở Hoa Kỳ, những người đã tạo và chia sẻ
        hơn 30 triệu hoạt động. </p>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img class="w-100" src="img/abou1.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img class="w-100" src="img/abou2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <h1>50 triệu + người dân ở 150+ các nước trả lời 50 triệu + câu hỏi / ngày. </h1>

    <div id="carouselExampleIndicators" class="carousel slide row m-auto rounded-circle" data-bs-ride="carousel"
        style="width: 70%;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/bn.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/bn1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/bn2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>