<div class="container mt-5 ">
    <h1>id :{{product.id}}</h1>
    <div class="row justify-content-center mt-lg-4 mt-2 m-5 border border-2 rounded">
        <div class="box-test col-lg-6 col-6 mb-lg-4 mb-2 px-0">
            <div class="box-test_item mx-3" style="background-color: #ffffff;">
                <div class="item_img text-center px-lg-5 px-3 py-lg-4 py-2">
                    <img width="100%" height="300px" src="img/php.webp" alt="">
                </div>

            </div>
        </div>
        <div class="box-test col-lg-6 col-6 mb-lg-4 mb-2 px-0 mt-5">
            <p>quiz</p>
            <h2>Test {{product.ten}}</h2>
            <p>Thời gian : 45 phút</p>
            <p>Số lượng : 5 câu hỏi</p>
            <p>Bài test đánh giá chất lượng cao !</p>
            <a href="#!test/{{product.id}}" class="btn btn-primary" onclick="return confirm('BẠN ĐÃ SẴN SÀNG')">Bắt
                đầu</a>
        </div>
    </div>
    <div class="container">
        <h2 class="text text-black text-center rounded border border-2 w-50 bg-white m-auto">Những bài kiểm tra khác
        </h2>
        <div class="row justify-content-center mt-lg-4">
            <a href="start.html" class="text-decoration-none text-black">
                <div class="card p-3 m-4" style="width: 18rem;">
                    <img src="img/js.jpg" style="height: 12rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">JAVASCRIP</h5>
                        <p class="card-text">Bài thi chắc nghiệm củng cố kiến thức vững vàng hơn. </p>
                        <a href="start.html" class="btn btn-primary di">Chi tiết</a>
                    </div>
                </div>
            </a>


            <div class="card p-3 m-4" style="width: 18rem;">
                <img src="img/css.webp" style="height: 12rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">CSS</h5>
                    <p class="card-text">Bài thi chắc nghiệm củng cố kiến thức vững vàng hơn. </p>
                    <a href="start.html" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
            <div class="card p-3 m-4" style="width: 18rem;">
                <img src="img/lra.jpg" style="height: 12rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Laravel</h5>
                    <p class="card-text">Bài thi chắc nghiệm củng cố kiến thức vững vàng hơn. </p>
                    <a href="start.html" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>

</div>