<div class="container mt-5">
    <div class="row justify-content-center mt-lg-4 mt-2 m-5">
        <div class="box-test col-lg-6 col-6 mb-lg-4 mb-2 px-0">
            <h3>Liên hệ với chúng tôi </h3>
            <p>Địa chỉ: 138A Giảng Võ - Ba Đình - Hà Nội </p>
            <p>Điện thoại: 024.38464489; 024.38463702 </p>
            <p>Email: vfa@vfa.gov.vn</p>
            <p class="fs-4">Liên hệ nhanh</p>
            <form action="">
                <div class="mb-3 fw-bold">
                    <label for="exampleInputEmail1" class="form-label">Họ và tên</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 fw-bold">
                    <label for="exampleInputPassword1" class="form-label">Email</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 fw-bold">
                    <label for="exampleInputPassword1" class="form-label">Điện thoại</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 fw-bold">
                    <label for="exampleInputPassword1" class="form-label">Nội dung</label>
                    <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
                </div>
                <button type="submit" class="btn btn-primary text-center">Submit</button>

            </form>
        </div>
        <div class="box-test col-lg-6 col-6 mb-lg-4 mb-2 px-0">
            <div class="box-test_item mx-3" style="background-color: #ffffff;">
                <div class="item_img text-center px-lg-5 px-3 py-lg-4 py-2">
                    <img width="100%" height="500px" src="img/lienhe.png" alt="">
                </div>

            </div>
        </div>
    </div>

</div>